body {
    text-align: center;
    background-image: url("rainfall.gif");
    background-repeat: no-repeat;
    background-size:100%;
    color: #d9b3ff;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    font-size: 21px;
    font-weight: bold;
    line-height: 30em; 
}
#button1{
    position: absolute;
    top:370px;
    left: 730px;
    background-color: black;
    color: white;
   width: 25;
    height: 25;
    font-size: 20px;
}
#button2{
    position: absolute;
    top: 370px;
    left: 550px;
    width: 25;
    height: 25;
    font-size: 20px;
    background-color: black;
    color: white;
}